body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f9fa;
  color: #333;
}

header {
  background: #0f172a;
  color: white;
  padding: 60px;
  text-align: center;
}

header a {
  background: #38bdf8;
  padding: 12px 20px;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.project {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}
