* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
  background: #020617;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #1e293b;
}

nav a {
  margin-left: 20px;
  color: #cbd5f5;
  text-decoration: none;
}

.hero {
  max-width: 900px;
  margin: 120px auto;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

.hero p {
  margin-top: 20px;
  color: #94a3b8;
}

.buttons {
  margin-top: 30px;
}

.buttons a {
  padding: 12px 26px;
  border-radius: 8px;
  margin: 10px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #38bdf8;
  color: black;
}

.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

section {
  max-width: 1000px;
  margin: auto;
  padding: 80px 20px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px;
  border-radius: 16px;
  margin-bottom: 30px;
}

.card span {
  color: #94a3b8;
  font-size: 0.9rem;
}

.card ul {
  margin-top: 15px;
  padding-left: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project {
  border: 1px solid #1e293b;
  padding: 25px;
  border-radius: 16px;
}

footer {
  border-top: 1px solid #1e293b;
  padding: 40px;
  text-align: center;
  color: #94a3b8;
}
